
.audioContainer{
    width: 100%;
    width: auto;
    text-align: center;
}

.audioPlayer{
    width: 100%;
    height: 20px;
    position: fixed;
    bottom: 0px;
    height: 59px;
    border: outset 1px #525d6f;
    background: #604f9b;
}

.playerButtonContainer{
    display: inline;
}
.button{
    width: 54px;
    position: relative;
    top: 10px;
    height: 30px;
    background: transparent;
    border: 0px;
    cursor: pointer;
}

.button + img {
    display: inline;
    height: 70px;
}


.prev{
    position: relative;
    left: -557px;
    width: 45px;
    top: 6px;
}

.play{
    position: relative;
    left: -398px;
}

.next{
    position: relative;
    left: -390px;
    width: 45px;
    top: 6px;
}


.shuffle{
    position: relative;
    left: -430px;
    width: 45px;
    top: 6px;
}

.repeat{
    position: relative;
    left: -425px;
    width: 45px;
    top: 6px;
}

.speaker{
    position: relative;
    left: 135px;
    width: 45px;
    top: 6px;
}

.seekBar {
    width: 400px;
    height: 5px;
    border-radius: 50px;
    background-color: #3a346c;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    right: -398px;
    top: -17px;
    cursor: pointer;
}

.progress{
    width: 8px;
    height: 8px;
    background-color: darkkhaki;
    border-radius: 30px;
    transform: scale(2)
}

.progressBar{

}

.songProfile{
    width: 300px;
    height: auto;
    position: absolute;
    top: 0px;
    right: 67px;
    display: inline-block;
}

.thumbNail{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 18px;
    left: 15px;
}

.artistName{
    position: absolute;
    left: 58px;
    bottom: -28px;
    width: 215px;
}

.songTitle{
    position: absolute;
    left: 58px;
    bottom: -52px;
    width: 215px;
}

.none {
    display: none;
}